Problem 2

a)

I would suggest Alice to have a Portfolio containing Highly Uncorrelated Stocks.Because when we choose Highly Correlated Stocks then we will be having High Risk because the Price can go either up or down.So high risk of loss if any one stock goes down in Highly Correlated Stocks. In the Case of Highly Uncorrelated Stock we will be having a diversification and if one stock goes down then the other is not affected much implying Low Risk and Better Return. Additionally, Diversification is a strategy used in investing that refers to owning a wide variety of securities across several asset classes in order to reduce the risk of loss.

b)

For Correlation>=0.5 I am Choosing SBI and Bank of Baroda and Calculating the Correlation Coefficient considering only closing prices.

In [1]:
!pip install yfinance

Requirement already satisfied: yfinance in c:\users\rakes\anaconda3\lib\site-packages (0.2.38)
Requirement already satisfied: pandas>=1.3.0 in c:\users\rakes\anaconda3\lib\site-packages (from yfinance) (2.1.4)
Requirement already satisfied: numpy>=1.16.5 in c:\users\rakes\anaconda3\lib\site-packages (from yfinance) (1.26.4)
Requirement already satisfied: requests>=2.31 in c:\users\rakes\anaconda3\lib\site-packages (from yfinance) (2.31.0)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\rakes\anaconda3\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in c:\users\rakes\anaconda3\lib\site-packages (from yfinance) (4.9.3)
Requirement already satisfied: appdirs>=1.4.4 in c:\users\rakes\anaconda3\lib\site-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in c:\users\rakes\anaconda3\lib\site-packages (from yfinance) (2023.3.post1)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\rakes\anaconda3\lib\site-packages (from yfinance) (2.4.4)
Requirement already satisfied: peewee>=3.16.2 in c:\users\rakes\anaconda3\lib\site-packages (from yfinance) (3.17.3)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\rakes\anaconda3\lib\site-packages (from yfinance) (4.12.2)
Requirement already satisfied: html5lib>=1.1 in c:\users\rakes\anaconda3\lib\site-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\rakes\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: six>=1.9 in c:\users\rakes\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in c:\users\rakes\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\rakes\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in c:\users\rakes\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\rakes\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\rakes\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\rakes\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\rakes\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2024.2.2)

In [2]:
import yfinance as yf

In [3]:
import pandas as pd
import numpy as np

In [4]:
tick1="SBIN.NS"
tick2="BANKBARODA.NS"

In [5]:
data1=yf.download(tick1,start="2023-04-01",end="2024-03-31")

[*********************100%%**********************]  1 of 1 completed

In [6]:
data2=yf.download(tick2,start="2023-04-01",end="2024-03-31")

[*********************100%%**********************]  1 of 1 completed

In [7]:
df1=pd.DataFrame(data1)
df1

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-04-03,5655.000000,5734.000000,5632.200195,5715.049805,5690.868164,745386
2023-04-05,5832.000000,5947.049805,5743.149902,5761.299805,5736.922363,2433329
2023-04-06,5761.000000,5959.000000,5705.549805,5932.200195,5907.099609,1740502
2023-04-10,5944.950195,5969.899902,5811.000000,5828.799805,5804.136719,928257
2023-04-11,5858.000000,5880.000000,5811.149902,5837.750000,5813.049316,811620
...,...,...,...,...,...,...
2024-03-21,6707.500000,6771.649902,6657.149902,6715.750000,6715.750000,1806092
2024-03-22,6705.000000,6803.000000,6686.299805,6760.899902,6760.899902,1125238
2024-03-26,6754.500000,6945.000000,6745.000000,6910.100098,6910.100098,1850321
2024-03-27,6945.750000,7049.000000,6905.000000,7022.750000,7022.750000,1551275
2024-03-28,7032.100098,7349.299805,7032.100098,7245.250000,7245.250000,3574518

In [8]:
df2=pd.DataFrame(data2)
df2

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-04-03,1273.000000,1286.550049,1265.500000,1282.949951,1282.274170,1381342
2023-04-05,1296.000000,1324.000000,1275.500000,1279.300049,1278.626221,3366621
2023-04-06,1279.300049,1311.449951,1271.349976,1303.949951,1303.263184,1819711
2023-04-10,1311.000000,1317.250000,1295.650024,1305.050049,1304.362671,1297282
2023-04-11,1312.949951,1325.000000,1307.199951,1323.199951,1322.502930,1281834
...,...,...,...,...,...,...
2024-03-21,1596.000000,1609.449951,1592.000000,1602.599976,1602.599976,1166497
2024-03-22,1593.000000,1610.000000,1583.400024,1587.550049,1587.550049,1570412
2024-03-26,1589.000000,1619.000000,1589.000000,1593.900024,1593.900024,1616192
2024-03-27,1590.000000,1609.900024,1578.199951,1582.650024,1582.650024,1205575
2024-03-28,1588.000000,1669.000000,1588.000000,1643.849976,1643.849976,5210310

In [9]:
x=len(df1)
arr1=[0.0]*x
arr2=[0.0]*x

In [10]:
for index in range(0,x):
    arr1[index]=df1["Close"][index]
    arr2[index]=df2["Close"][index]

C:\Users\rakes\AppData\Local\Temp\ipykernel_32988\1251172905.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  arr1[index]=df1["Close"][index]
C:\Users\rakes\AppData\Local\Temp\ipykernel_32988\1251172905.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  arr2[index]=df2["Close"][index]

In [11]:
sum1=0
sum2=0
mean1=0
mean2=0
for index in range(0,x):
    sum1=sum1+arr1[index]
    sum2=sum2+arr2[index]
mean1=sum1/x
mean2=sum2/x

In [12]:
numerator=0
for index in range(0,x):
    numerator=numerator+(arr1[index]-mean1)*(arr2[index]-mean2)

In [13]:
deviation1=0
deviation2=0
for index in range(0,x):
    deviation1=deviation1+(arr1[index]-mean1)*(arr1[index]-mean1)
    deviation2=deviation2+(arr2[index]-mean2)*(arr2[index]-mean2)
denominator=np.sqrt(deviation1*deviation2)

r is correlation coefficient

In [14]:
r=numerator/denominator
r

0.6584015179621435

r=0.94 implies that SBI and Bank of Baroda are Highly Correlated Stocks

For Highly Uncorrelated Stocks we take HDFCLIFE and COAL INDIA Stocks

In [15]:
tick3="COALINDIA.NS"
tick4="HDFCLIFE.NS"

In [16]:
data3=yf.download(tick3,start="2023-04-01",end="2024-03-31")

[*********************100%%**********************]  1 of 1 completed

In [17]:
data4=yf.download(tick4,start="2023-04-01",end="2024-03-31")

[*********************100%%**********************]  1 of 1 completed

In [18]:
df3=pd.DataFrame(data3)
df4=pd.DataFrame(data4)

In [19]:
df3

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-04-03,214.100006,220.850006,213.800003,220.149994,204.515228,7754066
2023-04-05,220.300003,224.250000,220.300003,222.500000,206.698334,6491910
2023-04-06,222.449997,223.149994,220.300003,221.699997,205.955154,4589598
2023-04-10,221.449997,224.449997,221.149994,222.050003,206.280289,3498235
2023-04-11,222.750000,224.300003,222.000000,223.649994,207.766647,3995959
...,...,...,...,...,...,...
2024-03-21,424.000000,433.549988,423.149994,432.049988,432.049988,9911230
2024-03-22,430.899994,436.200012,428.299988,431.950012,431.950012,9172888
2024-03-26,433.799988,440.950012,430.899994,435.950012,435.950012,9389403
2024-03-27,439.799988,439.799988,426.049988,429.450012,429.450012,17985246
2024-03-28,430.000000,438.450012,430.000000,434.100006,434.100006,10332853

In [20]:
df4

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-04-03,502.049988,508.500000,501.250000,503.700012,502.044678,2394944
2023-04-05,503.700012,511.950012,503.700012,507.750000,506.081360,4270479
2023-04-06,506.100006,516.900024,505.250000,514.650024,512.958679,2416882
2023-04-10,514.650024,520.299988,511.649994,513.700012,512.011780,2375216
2023-04-11,516.799988,522.799988,512.750000,513.549988,511.862274,3671457
...,...,...,...,...,...,...
2024-03-21,629.000000,639.000000,620.000000,622.250000,622.250000,7197320
2024-03-22,623.900024,628.650024,616.000000,623.849976,623.849976,3636733
2024-03-26,638.849976,642.799988,625.500000,626.900024,626.900024,13822598
2024-03-27,627.500000,638.400024,624.049988,626.349976,626.349976,13848953
2024-03-28,626.349976,638.750000,626.349976,633.349976,633.349976,6878964

In [21]:
x=len(df3)
arr3=[0.0]*x
arr4=[0.0]*x

In [22]:
for index in range(0,x):
    arr3[index]=df3["Close"][index]
    arr4[index]=df4["Close"][index]

C:\Users\rakes\AppData\Local\Temp\ipykernel_32988\4002584499.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  arr3[index]=df3["Close"][index]
C:\Users\rakes\AppData\Local\Temp\ipykernel_32988\4002584499.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  arr4[index]=df4["Close"][index]

In [23]:
sum3=0
sum4=0
mean3=0
mean4=0
for index in range(0,x):
    sum3=sum3+arr3[index]
    sum4=sum4+arr4[index]
mean3=sum3/x
mean4=sum4/x

In [24]:
numerator2=0
for index in range(0,x):
    numerator2=numerator2+(arr3[index]-mean3)*(arr4[index]-mean4)

In [25]:
deviation3=0
deviation4=0
for index in range(0,x):
    deviation3=deviation3+(arr3[index]-mean3)*(arr3[index]-mean3)
    deviation4=deviation4+(arr4[index]-mean4)*(arr4[index]-mean4)
denominator2=np.sqrt(deviation3*deviation4)

In [26]:
r2=numerator2/denominator2
r2

0.09146914890567026

r2=0.09 implies that COALINDIA and HDFCLIFE are Highly Uncorrelated Stocks

c)

In Case 1:
Both SBI and Bank of Baroda both come under Banking and Financial Service Sector implying that from same sector we have high chance of having similarly behaving stocks implying high Correlation Coefficient.
In Case 2:
HDFCLIFE comes under Banking and Financial Service Sector(Insurance) whereas COALINDIA is related to InfraStructure and Mining Sector.We have no relation between these 2 Sectors implying Low Correlation Coefficient and Highly Uncorrelated Stocks.
I think that Stocks in Similar Sectors will have High Correlation Coefficient whereas Stocks in very dissimilar Sectors will have Low Correlation Coefficient.
CASE 1:
If I take Hindalco and JSWSTEEL then I except them to have High Correlation Coefficient because one is related to Steel and Other is Aluminium both mostly from Refining Sector.
Case 2:
ADANIENT and HCLTECH are highly uncorrelated because one focuses on Information and Technology while other focuses on Construction both coming form Different Sectors implying they have very less relation so I expect them to have Low Correlation Coefficient.