In [1]:
!pip install yfinance

Requirement already satisfied: yfinance in c:\users\rakes\anaconda3\lib\site-packages (0.2.38)
Requirement already satisfied: pandas>=1.3.0 in c:\users\rakes\anaconda3\lib\site-packages (from yfinance) (2.1.4)
Requirement already satisfied: numpy>=1.16.5 in c:\users\rakes\anaconda3\lib\site-packages (from yfinance) (1.26.4)
Requirement already satisfied: requests>=2.31 in c:\users\rakes\anaconda3\lib\site-packages (from yfinance) (2.31.0)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\rakes\anaconda3\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in c:\users\rakes\anaconda3\lib\site-packages (from yfinance) (4.9.3)
Requirement already satisfied: appdirs>=1.4.4 in c:\users\rakes\anaconda3\lib\site-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in c:\users\rakes\anaconda3\lib\site-packages (from yfinance) (2023.3.post1)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\rakes\anaconda3\lib\site-packages (from yfinance) (2.4.4)
Requirement already satisfied: peewee>=3.16.2 in c:\users\rakes\anaconda3\lib\site-packages (from yfinance) (3.17.3)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\rakes\anaconda3\lib\site-packages (from yfinance) (4.12.2)
Requirement already satisfied: html5lib>=1.1 in c:\users\rakes\anaconda3\lib\site-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\rakes\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: six>=1.9 in c:\users\rakes\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in c:\users\rakes\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\rakes\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in c:\users\rakes\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\rakes\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\rakes\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\rakes\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\rakes\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2024.2.2)

In [3]:
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [12]:
data=yf.download("WIPRO.NS",start="2023-04-01",end="2024-03-31")
df=pd.DataFrame(data)
arrc=[0]*len(df)
arrh=[0]*len(df)
arrl=[0]*len(df)
arro=[0]*len(df)

[*********************100%%**********************]  1 of 1 completed

In [19]:
arrc=0.25*(df["Close"]+df["Open"]+df["High"]+df["Low"])
x=len(df)
df2=pd.DataFrame()
df2["Close"]=0.25*(df["Close"]+df["Open"]+df["High"]+df["Low"])
df2["Open"]=0
df2["High"]=0
df2["Low"]=0
def max(a,b):
    if(a>=b):
        return a
    else:
        return b
def min(a,b):
    if(a<=b):
        return a
    else:
        return b

In [20]:
for index in range(0,x):
    df2["Open"][index]=0.5*(df["Close"][index-1]+df["Open"][index-1])
for index in range(0,x):   
     df2["High"][index]=max(max(df2["Close"][index],df2["Open"][index]),df["High"][index])
     df2["Low"][index]=min(min(df2["Close"][index],df2["Open"][index]),df["Low"][index])

C:\Users\rakes\AppData\Local\Temp\ipykernel_28156\2516387315.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df2["Open"][index]=0.5*(df["Close"][index-1]+df["Open"][index-1])
C:\Users\rakes\AppData\Local\Temp\ipykernel_28156\2516387315.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["Open"][index]=0.5*(df["Close"][index-1]+df["Open"][index-1])
C:\Users\rakes\AppData\Local\Temp\ipykernel_28156\2516387315.py:2: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  df2["Open"][index]=0.5*(df["Close"][index-1]+df["Open"][index-1])
C:\Users\rakes\AppData\Local\Temp\ipykernel_28156\2516387315.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '478.40000915527344' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df2["Open"][index]=0.5*(df["Close"][index-1]+df["Open"][index-1])
C:\Users\rakes\AppData\Local\Temp\ipykernel_28156\2516387315.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df2["Open"][index]=0.5*(df["Close"][index-1]+df["Open"][index-1])
C:\Users\rakes\AppData\Local\Temp\ipykernel_28156\2516387315.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df2["High"][index]=max(max(df2["Close"][index],df2["Open"][index]),df["High"][index])
C:\Users\rakes\AppData\Local\Temp\ipykernel_28156\2516387315.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["High"][index]=max(max(df2["Close"][index],df2["Open"][index]),df["High"][index])
C:\Users\rakes\AppData\Local\Temp\ipykernel_28156\2516387315.py:4: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  df2["High"][index]=max(max(df2["Close"][index],df2["Open"][index]),df["High"][index])
C:\Users\rakes\AppData\Local\Temp\ipykernel_28156\2516387315.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '478.40000915527344' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df2["High"][index]=max(max(df2["Close"][index],df2["Open"][index]),df["High"][index])
C:\Users\rakes\AppData\Local\Temp\ipykernel_28156\2516387315.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df2["Low"][index]=min(min(df2["Close"][index],df2["Open"][index]),df["Low"][index])
C:\Users\rakes\AppData\Local\Temp\ipykernel_28156\2516387315.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["Low"][index]=min(min(df2["Close"][index],df2["Open"][index]),df["Low"][index])
C:\Users\rakes\AppData\Local\Temp\ipykernel_28156\2516387315.py:5: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  df2["Low"][index]=min(min(df2["Close"][index],df2["Open"][index]),df["Low"][index])
C:\Users\rakes\AppData\Local\Temp\ipykernel_28156\2516387315.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '365.1499938964844' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df2["Low"][index]=min(min(df2["Close"][index],df2["Open"][index]),df["Low"][index])
C:\Users\rakes\AppData\Local\Temp\ipykernel_28156\2516387315.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df2["High"][index]=max(max(df2["Close"][index],df2["Open"][index]),df["High"][index])
C:\Users\rakes\AppData\Local\Temp\ipykernel_28156\2516387315.py:4: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  df2["High"][index]=max(max(df2["Close"][index],df2["Open"][index]),df["High"][index])
C:\Users\rakes\AppData\Local\Temp\ipykernel_28156\2516387315.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df2["Low"][index]=min(min(df2["Close"][index],df2["Open"][index]),df["Low"][index])

In [21]:
df2

                 Close        Open        High         Low
Date
2023-04-03  367.362503  478.400009  478.400009  365.149994
2023-04-05  369.637505  367.950012  371.899994  367.200012
2023-04-06  367.987503  369.725006  370.450012  365.850006
2023-04-10  370.824997  367.824997  374.399994  367.600006
2023-04-11  371.800003  370.649994  374.850006  368.600006
...                ...         ...         ...         ...
2024-03-21  500.962502  494.774994  505.299988  494.774994
2024-03-22  486.662498  500.050003  500.050003  479.549988
2024-03-26  483.962502  488.175003  490.950012  479.049988
2024-03-27  476.050003  482.925003  482.925003  471.250000
2024-03-28  478.787498  476.000000  483.049988  475.299988

[243 rows x 4 columns]